.main-visuals {
  position: relative;
  width: 100%;
  z-index: 1;
}

#canvas-container {
  min-width: 100%;
  position: relative;
  /* background-color: rgb(67, 59, 114); */
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: -35px;
  bottom: 0;
  margin: auto;
  width: 49.5%;
  height: 47%;
  /* background-color: rgba(97, 97, 97, 0.144); */
  /* border: 8px solid rgb(68, 79, 148); */
  /* background: black url("../public/images/tech-background-1.png"); */
  background-size: cover;
  /* background-color: rgba(255, 0, 0, 0.486); */

  border-radius: 50%;
  /* box-shadow: rgba(184, 185, 255, 0.59) 0 0 100px; */
}

.overlay svg {
  z-index: 2;
  color: rgba(255, 255, 255, 0.26);
  position: absolute;
  left: 0;
  top: 53%;
  transform: translateY(-50%);
  height: 120px;
  width: 100%;
}
.overlay svg:hover {
  color: rgba(255, 255, 255, 0.589);
  cursor: pointer;
}

.overlay img {
  z-index: 1;
  color: white;
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  border-radius: 50%;
}
.screen-center {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  /* background-color: rgb(24, 24, 24); */
  /* background-color: rgb(48, 99, 153); */
  background: rgb(143,156,176);
  /* background: radial-gradient(circle, rgb(82, 132, 206) 0%, rgba(22, 23, 105, 0.684) 77%); */
  /* background: radial-gradient(circle, rgb(33, 66, 100) 12%, rgba(134, 41, 41, 0.68) 88%); this is default*/
  background-image: url("../public/images/gradient-background-9.png");
  /* background-position: center; */
  /* radial-gradient(circle, rgb(51, 14, 33) 0%, rgba(70, 10, 10, 0.68) 77%) */
}

/* Controls  */
.controls-right {
  position: absolute;
  /* background-color: red; */
  color: white;
  right: 0;
  height: 100%;
  width: 30px;
}
.controls-right *{
  margin-bottom: 0.5em;
}
.controls-bottom *{
  margin-right: 1em;
  color: white;
}
.controls-bottom span{
  min-width: 2em;
  text-align: center;
}

/* Sidebar Styles */
.sidebar-left {
  min-height: 85vh;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.1);
  /* background-color: rgba(255, 255, 255, 0.356); */
  position: absolute;
  left: 2em;
  top: 2em;
  padding: 1em;
  /* color: rgb(46, 46, 46); */
  color: white;
  
  /* box-shadow: rgba(255, 255, 255, 0.59) 0 0 20px; */
}
.library-search {
  width: 100%;
  font-size: 1.6em;
  /* height: 2.5em; */
  background-color: rgba(255, 255, 255, 0.26);
  border-style: none;
  color: rgb(255, 255, 255);
  padding: 0.1em 0.4em;
  /* border: 2px solid rgb(255, 255, 255); */
}
.library-search:focus {
  outline: none;
  box-shadow: 0px 0px 4px white;
}
.library-list {
  margin-top: 0.6em;
  max-height: 70vh;
  overflow-y: auto;
  scrollbar-width: thin;
  padding: 0.25em;
}
.library-list-item {
  background-color: rgba(255, 255, 255, 0.226);
  margin-top: 0.5em;
  max-width: 95%;
}
.library-list-item:hover {
  background-color: rgba(255, 255, 255, 0.555);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.808);
  cursor: pointer;
}
.library-list-item-info {
  margin-left: 0.5em;
}
.library-list-item-title {
  margin-bottom: 0;
  font-size: 1.05em;
}
.library-list-item-artist {
  color: #746e6e;
  font-size: 0.8em;
}
.library-list-item-poster {
  width: 5em;
  text-align: center;
}
/* Sidebar Styles end */

/* Scrollbar for Chrome and other */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: rgb(252, 252, 252);
}
::-webkit-scrollbar-thumb {
  background: rgb(189, 189, 189); 
}
::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3; 
}

/* Slider for volume and seek control */
.slider {
  opacity: 0.7;
  background-color: transparent;
}
.slider-vertical {
  /* position: absolute; */
  /* right: 0;
  top: 40%; */
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* Chromium */
  /* height: 175px; */
  padding: 0 5px;
  z-index: 3;
}
.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  width: 8px;
  height: 8px;
  background: transparent;
  cursor: pointer;
  border-radius: 0;
}

.slider::-moz-range-thumb {
  width: 8px;
  height: 8px;
  background: transparent;
  cursor: pointer;
  border-radius: 0;
  border: none;
}

/** Horizontal Slider FF */
.slider::-moz-range-progress {
  background-color: #ffffff93;
  height: 8px;
}
.slider::-moz-range-track {  
  background-color: #cebfbf70;
  height: 8px;
}
/* IE */
.slider::-ms-fill-lower {
  background-color: #ffffff93;
  height: 8px;
}
.slider::-ms-fill-upper {  
  background-color: #cebfbf70;
  height: 8px;
}

/** Vertical Slider FF */
.slider-vertical::-moz-range-progress {
  background-color: #ffffff93;
  height: 100%;
  width: 8px;
}
.slider-vertical::-moz-range-track {  
  background-color: #cebfbf70;
  height: 100%;
  width: 8px;
}
/* IE */
.slider-vertical::-ms-fill-lower {
  background-color: #ffffff93;
  height: 100%;
  width: 8px;
}
.slider-vertical::-ms-fill-upper {  
  background-color: #cebfbf70;
  height: 100%;
  width: 8px;
}